body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style: none;
}

#nbar{
    float: right;

}

a{
    text-decoration: none;
    color: inherit;
}
#img{
    background-color:white;
    margin-right: 20px;
    border-radius: 2px;
    font-weight: bold;
}
li.nlink a:hover{
    text-decoration: underline;
}
#img:hover{
    box-shadow: 1px 1px 4px rgb(219, 218, 218);
}

#sign_in button{
    background-color: rgb(19, 5, 146);
    border:blue;
    color: white;
    width: 80px;
    height: 30px;
}



#logo{
    text-align: center;
    display: block;
    padding-top: 110px;
    padding-bottom: 20px;
    clear:both;
    margin: 0 auto;
}
form{
    text-align: center;
    padding: 20px 10px;
    

}
#button{
text-align: center;
}
footer{
position: absolute;
bottom: 0;
width: 100%;
height: 50px;
background-color: rgb(238, 234, 234);
color: gray;


}
.footer-left{
text-align: center;
margin: auto;
padding-top: 20px;

}

.footer-right{
    text-align: center;
    margin: auto;
    padding-top: 20px;
    
}
li.foot a:hover{
    text-decoration: underline;
}